<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"/>
        <link rel="stylesheet" href="style.css">
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

        <title>Home page</title>
    </head>

    <body>
        
      <nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo center">HomeWork</a>
          <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="/">Домашня</a></li>
            <li><a href="/about">Новини</a></li>
            <li><a href="/contacts">Про нас</a></li>
          </ul>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/login">Вхід</a></li>
            <li><a href="/registration">Реєстрація</a></li>
          </ul>
        </div>
      </nav>

      <div class="login" >
        <div class="row">
            <form class="col s12" method="post">
              <div class="row">
                <div class="input-field col s12">
                  <input id="email" type="text" class="validate" name="Login">
                  <label for="email">Логін</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input id="password" type="password" class="validate" name="UserPassword">
                  <label for="password">Пароль</label>
                </div>
              </div>
              <button class="btn waves-effect waves-light" type="submit"  >Увійти</button> 
            </form>
          </div>
      </div>>

    </body>

</html>

