<% const pages = [ {url: '/', title: 'Home', icon: 'fa fa-fw fa-bar-chart-o'},
{url: '/news', title: 'News', icon: 'fa fa-fw fa-dashboard'},
{url: '/feedback', title:'Feedback', icon: 'fa fa-fw fa-bar-chart-o'}, 
{url: '/register',title: 'Registration', icon: 'fa fa-fw fa-table'}, 
{url: '/login', title:'Login', icon: 'fa fa-fw fa-table'},
{url: '/handlebars', title:'Handlebars', icon: 'fa fa-fw fa-bar-chart-o'},
{url: '/firstPug', title:'First Pug', icon: 'fa fa-fw fa-bar-chart-o'}, 
{url: '/secondPug', title:'Second Pug', icon: 'fa fa-fw fa-bar-chart-o'} ] %>
<div class="collapse navbar-collapse navbar-ex1-collapse">
  <ul class="nav navbar-nav side-nav">
    <% pages.forEach((page) => { %>
    <li>
      <a href="<%= page.url%>"
        ><i class="<%= page.icon%>"></i> <%= page.title %></a
      >
    </li>
    <% }) %>
    <li>
      <!-- <li class="active"> -->
      <a href="index.html"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
    </li>
    <li>
      <a href="charts.html"><i class="fa fa-fw fa-bar-chart-o"></i> Charts</a>
    </li>
    <li>
      <a href="tables.html"><i class="fa fa-fw fa-table"></i> Tables</a>
    </li>
    <li>
      <a href="forms.html"><i class="fa fa-fw fa-edit"></i> Forms</a>
    </li>
  </ul>
</div>
